#works{
    width: 100vw;
    max-width: 75rem;
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    font-size: 2rem;
    margin: 1rem 0;
}

.worksDesc{
    /* font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: 200; */
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
    
}
.worksImgs{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
    margin: 0 auto;
    max-width: 60rem;
    gap: 1.5rem;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 300px;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5rem;
    padding: 18px 22px;

}
.container.worksImg{
    object-fit: cover;

    overflow: hidden;
    width: 85vw;
    max-width: 20rem;
    padding: 0;
    margin: 1rem auto;
}


.projectDesc{
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 6px;

}
.projectTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}


.pskills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    
}
.pskill{
    font-size: 1.2rem;
    margin-left: 0.2rem;
    font-weight: 200;
    border-radius: 100px;
    background-color: rgb(30, 30, 30);
    padding: 2px 22px;
}

.plinks{
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.plink{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    background-color: rgb(100, 100, 100);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.workbtn{
    background-color: white;
    color: black;
    padding: 0.8rem 2.5rem;
    margin: 3rem 0;
    font-size: 1rem;
    border: none;
    border-radius:1rem ;

}

@media screen and (max-width: 720px){

   .worksImg{
    height: 54vw;
   } 

}