* {
  background: transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(30, 30, 30);
  overflow: hidden;
  overflow-y: scroll;
  color: white;
}
.myRoot{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

}
.myRoot1{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

}